In [1]:
#****************************************************************************************#
# Program name      : Data Insertion to SQL                                              #
# Project           : Online Book Review System                                          #
# Description       : IDMP_Project                                                       #
# Produced by       : APOORVA GUPTA AND PRIYA GARG                                       #
# Date              : 12/11/2021                                                         #
#****************************************************************************************#

In [2]:
# import libraries
import pandas as pd 
import numpy as np

from mysql.connector import connect, Error
from getpass import getpass

In [23]:
# connect to mysql
try:
    conn=connect(
        host='localhost',
        port=3306,
        user=input('Enter username: '),
        password=getpass('Enter password: '),
        auth_plugin='mysql_native_password',
        database='goodreads'
        )
except Error as e:
    print(e)

Enter username: root
Enter password: ········

In [11]:
books_df = pd.read_csv("../data/database_insert_data/books.csv")
users_df = pd.read_csv("../data/database_insert_data/reader.csv")
reviews_df = pd.read_csv("../data/database_insert_data/reviews.csv")
publish_details = pd.read_csv("../data/database_insert_data/publish data.csv")
reading = pd.read_csv("../data/database_insert_data/reading.csv")
wants_to_read = pd.read_csv("../data/database_insert_data/wants_to_read.csv")

reviews_df['date'] = pd.to_datetime(reviews_df['date'])

In [ ]:
# INSERTING BOOKS ##

book_insert_query = """
                insert into books
                values (%s, %s, %s,%s, %s, %s)
                """

for i in range(len(books_df)):
    

    val_tuple = (books_df['book_title'][i],str(books_df['book_id'][i]),int(books_df['no_of_reviews'][i]),
                     int(books_df['no_of_pages'][i]),books_df['author_name'][i],books_df['genre'][i])

    with conn.cursor() as cursor:

        cursor.execute(book_insert_query,val_tuple)
        conn.commit()

In [ ]:
# INSERTING USERS ##

user_insert_query = """
                insert into reader
                values (%s, %s, %s,%s)
                """

for i in range(len(users_df)):
    

    val_tuple = (users_df['username'][i],str(users_df['password'][i]),users_df['email_id'][i],
                     users_df['dob'][i])

    with conn.cursor() as cursor:

        cursor.execute(user_insert_query,val_tuple)
        conn.commit()

In [ ]:
## INSERTING REVIEWS ##

review_insert_query = """
                insert into review
                values (%s, %s, %s,%s, %s, %s, %s, %s)
                """

for i in range(len(reviews_df)):
    
    query_for_max_reviewID = """
                            select max(review_id) from review
                        """
    
    with conn.cursor() as cursor:

        cursor.execute(query_for_max_reviewID)
        local_result = cursor.fetchall()
        for row in local_result:
            max_val = row
    
    max_val = list(max_val)
    if max_val[0] == None:
        max_val[0] = 0
        
#     print(type(max_val))
#     print(max_val[0])
    new_review_id = max_val[0]+1
    
    val_tuple = (new_review_id, reviews_df['date'][i].date(),reviews_df['text'][i], reviews_df['recommended'][i],
                         int(reviews_df['rating'][i]),int(reviews_df['no_of_likes'][i]) , 
                             reviews_df['user_name'][i], str(reviews_df['book_id'][i]))
                

    with conn.cursor() as cursor:

        cursor.execute(review_insert_query,val_tuple)
        conn.commit()

In [46]:
## INSERTING wants_to_read ##

wantsToRead_insert_query = """
                insert into wants_to_read
                values (%s, %s)
                """

for i in range(len(wants_to_read)):
    

    val_tuple = (wants_to_read['username'][i], str(wants_to_read['book_id'][i]))
                

    with conn.cursor() as cursor:

        cursor.execute(wantsToRead_insert_query,val_tuple)
        conn.commit()

In [47]:
## INSERTING READING ##

reading_insert_query = """
                insert into Reading
                values (%s, %s, %s)
                """

for i in range(len(reading)):
    

    val_tuple = (reading['username'][i], str(reading['book_id'][i]), int(reading['available_no_of_reviews'][i]))
                

    with conn.cursor() as cursor:

        cursor.execute(reading_insert_query,val_tuple)
        conn.commit()

In [39]:
## INSERTING publish details ##

publish_insert_query = """
                insert into Books_Publisher_name
                values (%s, %s)
                """

for i in range(len(publish_details)):
    

    val_tuple = (publish_details['publisher_name'][i], str(publish_details['book_id'][i]))
                

    with conn.cursor() as cursor:

        cursor.execute(publish_insert_query,val_tuple)
        conn.commit()